<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="2f37857d-5aed-42e9-882e-b5042ae56984" Publisher="CN=Cedric" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WebSocket</DisplayName>
    <PublisherDisplayName>Cedric</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WebSocket.App">
      <m2:VisualElements DisplayName="WebSocket" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="WebSocket" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="removableStorage" />
    <Capability Name="videosLibrary" />
    <Capability Name="sharedUserCertificates" />
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="internetClientServer" />
    <Capability Name="enterpriseAuthentication" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>